html {
    box-sizing: border-box;
    max-width: 1000px;
    max-height: 800px;
    margin: 0 auto;
    overflow: auto;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: black;
    margin: 0 auto;
    overflow: auto;
  }
  
  .app {
    margin: 0 auto;
    width: 1000px;
    background-color: lightpink;
    border-radius: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    font-size: 30px;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
  }
  
  .quotes {
    padding: 20px;
  }
  
  .quote-text {
    padding-bottom: 0px;
    font-size: 25px;
    color: black;
  }
  
  .controls {
    width: 100%;
    padding: 20px 20px;
  }
  
  .button {
    display: block;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  .twitter {
    background-color: #1da1f2;
    text-decoration: none;
  }
  
  .twitter:hover {
    background-color: #1e7fbb;
  }
  
  .new-quote {
    background-color: black;
    margin-bottom: 15px;
  }
  
  .new-quote:hover {
    background-color: gray;
  }
  
  .new-quote:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 1000px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }
  .image-container {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    padding-top: 0;
  }
  #js-cat-image {
    width: 1000px;
    max-height: 600px;
    object-fit: cover;
    display: block;
  }
  #js-quote-text {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .saved-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }